[submodule "OneDrive/My-Desktop/Microsoft/PYTHON/SECTION 19/web server/OneDrive/My-Desktop/Microsoft/PYTHON/SECTION 19/web server/pythoncourse"]
	path = OneDrive/My-Desktop/Microsoft/PYTHON/SECTION 19/web server/OneDrive/My-Desktop/Microsoft/PYTHON/SECTION 19/web server/pythoncourse
	url = https://github.com/erezamsalem/pythoncourse.git
